config.el
elpa/
auto-save-list/
eshell/
org-roam.db
projectile.cache
projectile-bookmarks.eld
projects
transient/
url/
auto-save-list/
pyim
snippets
session.*
*.bak
recentf
eln-cache/
bookmarks
smex-items

emojis/
history
/elpa-bak
/straight
