config.el
elpa/
auto-save-list/
eshell/
org-roam.db
projectile.cache
projectile-bookmarks.eld
projects
transient/
url/
auto-save-list/
.cache/
pyim
snippets
session.*
*.bak
recentf
eln-cache/
.local/
bookmarks
smex-items

emojis/
history
/elpa-bak
/server
/straight
.lsp-session-v1
/rust-playground
/devdocs
