.vscode/

psql/.config/pgcli/history
psql/.config/pgcli/log
emacs-common/.emacs.d/.trello
emacs-common/.emacs.d/request
emacs-common/.emacs.d/elpa
emacs-common/.emacs.d/projectile.cache
emacs-common/.emacs.d/recentf
emacs-common/.emacs.d/smex-items
emacs-common/.emacs.d/projectile-bookmarks.eld
emacs-common/.emacs.d/eshell/history
emacs-common/.emacs.d/eshell/lastdir
emacs-common/.emacs.d/cache/treemacs-persist
emacs-common/.emacs.d/org-roam.db
emacs-common/.emacs.d/session.*
emacs-common/.emacs.d/transient/
emacs-common/.emacs.d/config-platform.org

