[user]
	name = teddy
	email = mlc880926@gmail.com
[push]
	default = simple
[core]
	excludesfile = /Users/teddy/.gitignore_global
[commit]
    template = ~/.gitmessage
[protocol]
	version = 2
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX<Paste>
